<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>TRAIN</title>
</head>
<body>
<div>
    <h1>VK-case</h1></div>
<div>
    <h3>Команда "DS и Ко"</h3>
    <br>
    <br>
    <h3>Prediction</h3>
    <br>
</div>

<form method="POST" action="" enctype="multipart/form-data">
    <fieldset class="form-group">
        <h4 align="center">Upload predict.csv</h4>
        <br>
        <p align="center"><input type="file" name="uploads" multiple></p>
    </fieldset>
    <br>
    <div class="form-group" align="center">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>

</body>
</html>